<%= render :partial => 'spree/admin/shared/shipping_tabs' %>

<% content_for :page_title do %>
    <%= Spree.t(:listing_boxes) %>
<% end %>

<% content_for :page_actions do %>
    <%= button_link_to Spree.t(:new_box), new_admin_box_url, {:class => "btn-success", :icon => 'add', :id => 'new_box_link'} %>
<% end %>

<% unless @boxes.any? %>
    <div class="no-objects-found">
      <%= Spree.t(:no_boxes_found) %>.
    </div>
<% else %>
    <table class="table">
      <thead data-hook="option_header">
        <tr data-hook="product_boxes_header">
          <th><%= Spree.t(:slots) %></th>
          <th><%= Spree.t(:box_slot) %></th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody id="boxes" data-hook>
        <% @boxes.each do |box| %>
            <tr id="<%= dom_id(box) %>" data-hook="box_row">
              <td><%= box.slots %></td>
              <td><%= box.box_slot.label %></td>
              <td class="actions actions-2 text-right">
                <%= link_to_edit(box, :no_text => true) %>
                <%= link_to_delete(box, :no_text => true) %>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
