<%= render :partial => 'spree/admin/shared/shipping_tabs' %>

<% content_for :page_title do %>
    <%= Spree.t(:new_box_slot) %>
<% end %>

<% content_for :page_actions do %>
    <li>
      <%= button_link_to Spree.t(:back_to_box_slots_list), spree.admin_box_slots_path, :icon => 'arrow-left' %>
    </li>
<% end %>

<%= form_for [:admin, @box_slot], :html => {:multipart => true} do |f| %>
    <fieldset class="no-border-top" data-hook="new_box_slot">
      <%= render partial: 'form', locals: {:f => f} %>
      <%= render partial: 'spree/admin/shared/new_resource_links', locals: {collection_url: admin_box_slots_url(@box_slot)} %>
    </fieldset>
<% end %>